{% extends "core/panel/panel_base.html" %}

{% block content %}

<h1 class="dashboard-title">Yeni İndirim Oluştur</h1>

<div class="discount-box">

    <h2>İndirim Bilgileri</h2>

    <form class="discount-form">

        <div class="form-group">
            <label>İndirim Adı</label>
            <input type="text" placeholder="Örn: Yeni yıl indirimi">
        </div>

        <div class="form-group">
            <label>İndirim Oranı (%)</label>
            <input type="number" min="1" max="100" placeholder="Örn: 20">
        </div>

        <div class="form-group">
            <label>Başlangıç Tarihi</label>
            <input type="date">
        </div>

        <div class="form-group">
            <label>Bitiş Tarihi</label>
            <input type="date">
        </div>

        <div class="form-group">
            <label>Hangi Ürüne Uygulanacak?</label>
            <select>
                <option>Akıllı Telefon Aksesuar Seti</option>
                <option>Defter Paketi</option>
                <option>Fotoğraf Arka Plan Kiti</option>
                <option>Kargo Paketleme Seti</option>
            </select>
        </div>

        <div class="discount-actions">
            <a href="#" class="btn-purple">Kaydet</a>
        </div>

    </form>

</div>

{% endblock %}
