{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="page-section">
    <div class="card">

        <img src="{% static product.image %}" class="product-img">

        <h2 class="page-title">{{ product.name }}</h2>
        <p class="page-text">{{ product.desc }}</p>

        <p class="product-price" style="font-size:1.2rem; margin-top:10px;">
            {{ product.price }}
        </p>

        <a href="{% url 'core:checkout' product.id %}" class="btn btn-purple" style="margin-top:15px;">
    Satın Al
</a>



    </div>
</div>
{% endblock %}
