{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="page-title">Tüm Ürünler</h2>

<div class="product-grid">
    {% for p in products %}
        <a href="{% url 'core:product_detail' p.id %}" class="product-card">
            <img src="{% static p.image %}" class="product-img">
            <p class="product-name">{{ p.name }}</p>
            <p class="product-price">{{ p.price }}</p>
            <p class="product-badge">{{ p.badge }}</p>
        </a>
    {% endfor %}
</div>
{% endblock %}
